  .parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
  }
  .parallax_layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .parallax_layer-front {
    -webkit-transform: translateZ(0);
    transform: translateZ(0) scale(1.6);
  }
  .parallax_layer-middle {
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px) scale(3.2);
  }
  .parallax_layer-back {
    -webkit-transform: translateZ(-2px);
    transform: translateZ(-2px) scale(6.4);
  }

  /* demo styles
  --------------------------------------------- */
  * {
    margin:0;
    padding:0;
  }
   /* add some padding to force scrollbars */
  .parallax_layer {
    padding: 100vh 0;
  }
   /* centre the content in the parallax layers */
  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .cover{
    position: fixed;
    background-color: #2B4C80;
    width: 100%;
    height: 140vh;
    top: 140vh;
  }


/*desktop style*/
@media only screen and (min-width: 961px){
	
}


/*table style*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	
}


/*mobile style*/
@media only screen and (max-width: 400px){
	
}