  body{
  background-color: rgba(0,153,153,0.3);
}
.parallax {
  perspective: 1px;
  height: 100vh;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}
.parallax__layer--base {
  transform: translateZ(0);
  background-color: rgba(0,153,153,0.3);
  height:100vh;
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  background-color: rgba(0,153,153,0.3);
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}



/*desktop style*/
@media only screen and (min-width: 961px){
	
}


/*table style*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	
}


/*mobile style*/
@media only screen and (max-width: 400px){
	
}